{% extends "base.html" %}

{% block title %}Cars{% endblock %}
{% block content %}
    <div class="container-fluid mt-5">
        {% for car in cars %}
        {% if loop.index0 % 3 == 0 %}
        <div class="row pb-4">
        {% endif %}
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    {% if car.thumbnail %}
                      <img src="{{ car.thumbnail }}" class="card-img-top {% if not car.availability %} gray-scaled {% endif %}" alt="Thumbnail Image" width="250" height="250">
                    {% else %}
                      <img src="{{ url_for('static', filename='default-car.jpg') }}" class="card-img-top {% if not car.availability %} gray-scaled {% endif %}" alt="Thumbnail Image">
                    {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{ car.model }}</h5>
                        <p class="card-text font-weight-light">&#8377; {{ car.price_per_hour }}/hour</p>
                        <button class="btn {{ 'btn-primary' if car.availability else 'btn-secondary' }}" data-toggle="modal" data-target="#reservationModal" data-car-id="{{ car.id }}" data-car-model="{{ car.model }}" {% if not car.availability %} disabled {% endif %}>Reserve</button>
                    </div>
                </div>
            </div>
        {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Modal Title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="bookings" method="post" id="bookingForm">
                <input type="hidden" class="car-id-input" name="car_id" value="">
                <input type="hidden" class="user-email-input" name="user_email" value="{{ current_user.email }}">
                <div class="form-group">
                    <label for="pick-up-date">Pick Up Date</label>
                    <input type="date" class="form-control" id="pick-up-date" name="pick-up-date" value="">
                </div>
                <div class="form-group">
                    <label for="return-date">Return Date</label>
                    <input type="date" class="form-control" id="return-date" name="return-date" value="">
                </div>
                <div class="form-group">
                    <label for="passengers">Passengers</label>
                    <input type="number" class="form-control" id="passengers" name="passengers" value="1" min="1" max="5">
                </div>

              </form>
              <div class="booking-error text-danger small"></div>     
            </div>
            <div class="modal-footer justify-content-start">
                <button id="reserve-btn" class="btn btn-primary">Reserve</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      



{% endblock %}