{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="center">
    <h3>Find your ride and some more at ease</h3>
    {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.username }}</p>
        <button onclick="window.location.href='/cars'" class="btn btn-primary btn-large">Find Cars</button>
    {% else %}
        <div class="buttonWrapper">
            <button class="btn btn-secondary btn-large" onclick="window.location.href='/register'">Register Now</button>
        </div>
        
    {% endif %}
    </div>
</div>
{% endblock %}